body
{
    background-color:#0e0e0e;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.toplink
{
    margin-left:15px;
    color:white;
    cursor: pointer;

}
.card
{
    background-color:darkblue;
    margin: 30px;
    border: #0e0e0e;
    border-radius: 10px;
    color: aliceblue;
    padding: 10px;
}
.gridcard
{
    background-color: darkblue;
    padding:10px;
    margin:10px;
    border-radius: 5px;
}