.child{
width: 500px;
display: flex;
justify-content: start;
}

button,#task{
    margin: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    border: black;
    border: solid;
    padding: 10px;
}
.parent{
    width: 700px;
    border-radius: 25px;
    background-color: lightgray;
    border: black;
    border: solid;
}


body{
    background-color: rgb(220, 220, 220);
}
